<%- include("partials/header.ejs") %>


<div class="container" id="mainViewCon">
    <h2>Creating a New Blog</h2>

    <div class="postCreation">
        
        <form action="/submit" method="POST">
            <div class="titleBox">
                <label for="title">Title:</label>
                <input type="text" name="title" id="title">
            </div>
            <div class="infoBox">
                <label for="info">Information:</label>
                <input type="text" name="info" id="info">
            </div> 
           <button type="submit" class="btn btn-success">Create</button>
        </form>
    </div>

    <div class="postViewing">
        <h4>Your Existing Blogs</h4>
        <hr class="specialHR">
        <div class="posts">
            <% if(data.length) { %>
                <% data.forEach((each, index) => { %>
                    <div class="eachPost">
                        <h5><%= each.title %></h5>
                        <hr class="tHr">
                        <p><%= each.info %></p>
                        <div class="btnCont">
                            <form action="/delete/<%= each.index %>" method="POST">
                                <button type="submit">delete</button>
                            </form>
                            <a href="/edit/<%= each.index %>">Edit</a>
                        </div>
                    </div>
                <% }); %>
            <% } else { %>
                <p class="noPostP"> no blog had been posted yet..</p>
            <% } %>
        </div>
    </div>
</div>



<%- include("partials/footer.ejs") %>